a{
	font-family:"Comic Sans", Times, serif;

}

body {

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
background-color:transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
	padding-top: 50px;
}


.navbar-default {
	background-color: #3498db;
	border-color: transparent;

}


.navbar-default .navbar-brand {
	color: white;

}

.navbar-default .navbar-nav > li > a {
	color: white;

}


#container{
	min-width: 100px; 
	height: 250px; 
	margin: 0 auto; 
	opacity: .4;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

